<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  var image_src = '../resources/img/helmet.jpg';

				  	if (!(typeof result_2 === 'undefined')) {
				  		image_src = result_2.img_src;
				  	}
				  
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
							 			but will display the player's name-->
							 <%
							 	var opt = '';
							 	if (!(typeof result_1 === 'undefined')){
							 		result_1.forEach(function(item){
							 			opt += '<option value="'+ item.id +'">'+ item.name +'</option>';
							 		})
							 	}
							 %>
							 <%- opt %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
							 		    You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<th>Year</th>
							<td>
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.year;
									})
								}%>
								<%= data %>
							</td>
						</tr>
						<tr>
							<th>Major</th>
							<td>
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.major;
									})
								}%>
								<%= data %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td>
								<% if (!(typeof result_3 === 'undefined')){
									var data = '';
									result_3.forEach(function(item){
										nGames = item.count;
									})
								%>
								<%= nGames %></td>
								<% } %>
						</tr>
						<tr>
							<td>Passing Yards: 
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.passing_yards;
									})
								}%>
								<%= data %></td>
							<td>Avg. Passing Yards: 
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.passing_yards/nGames;
									})
								}%>
								<%= data %></td>
						</tr>
						<tr>
							<td>Rushing Yards: 
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.rushing_yards;
									})
								}%>
								<%= data %></td>
							<td>Avg. Rushing Yards: 
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.rushing_yards/nGames;
									})
								}%>
								<%= data %></td>
						</tr>
						<tr>
							<td>Receiving Yards: 
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.receiving_yards;
									})
								}%>
								<%= data %></td>
							<td>Avg. Receiving Yards: 
								<% if (!(typeof result_2 === 'undefined')){
									var data = '';
									result_2.forEach(function(item){
										data = item.receiving_yards/nGames;
									})
								}%>
								<%= data %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>